# stacks.service
[Unit]
Description=Stacks Blockchain Service (Mainnet)
Requires=docker.service
After=docker.service
ConditionFileIsExecutable=/opt/stacks-blockchain-docker/manage.sh

[Service]
WorkingDirectory=/opt/stacks-blockchain-docker
EnvironmentFile=/opt/stacks-blockchain-docker/.env
TimeoutStartSec=0
Restart=on-failure
RemainAfterExit=yes
RestartSec=5
ExecStartPre=-/opt/stacks-blockchain-docker/manage.sh mainnet pull
ExecStart=/opt/stacks-blockchain-docker/manage.sh mainnet start proxy

ExecStop=-/opt/stacks-blockchain-docker/manage.sh mainnet stop
ExecReload=-/opt/stacks-blockchain-docker/manage.sh mainnet restart proxy
TimeoutSec=60

[Install]
WantedBy=multi-user.target